@import "normalize.css/normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100vw;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: auto;

  .monaco-editor {
    --vscode-editor-background: rgba(255, 255, 255, 0);
    --vscode-editorGutter-background: rgba(255, 255, 255, 0);
    --vscode-focusBorder: rgba(255, 255, 255, 0);

    .decorationsOverviewRuler {
      display: none !important;
    }
  }
}
